html { font-size: 62.5%; }
body {
  margin: 0;
  padding: 0;
  color: #628f4c;
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #FFF;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 2rem;
}

#app {
  margin:0 20px;
}

#splash-wrap h1,
#instructions-wrap h1,
#complete-wrap h1 { margin: 40px 0; }

#splash-wrap h2{ margin-bottom:  40px; }
#splash-wrap input {
  display: block;
  margin: 0 auto 40px auto;
  font-size: 30px;
  padding: 10px;
}
#splash-wrap button { margin-bottom:  40px; }

#instructions-wrap { font-size: 18px; }
#instructions-wrap p {margin-bottom: 40px; }
#instructions-wrap ul {
  width: 500px;
  margin: 40px auto;
  text-align: left;
  font-size: inherit;
  line-height: 1.6em;
}
#instructions-wrap button { margin-bottom: 40px; }

.timer {
  margin: 40px 0;
  font-size: 24px;
}
.timer.low {
  color: #B71C1C;
}

.button-wrap h4 {
  margin: 40px 0;
}
button {
  padding: 15px 40px;
  font-size: 22px;
  color: #FFF;
  background-color: #628f4c;
  border: 0;
  cursor: pointer;
}
button:hover {
  background-color: #388E3C;
}
button.disabled {
  background-color: #ccc;
}

.question-wrap h1 {
  margin-bottom: 40px;
}
.question-wrap input {
  opacity: 0;
}
.question-wrap img {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}
.question-wrap img:hover {
  border: 2px solid #8BC34A;
}
.question-wrap img.active {
  border: 2px solid #4CAF50;
}

.error {
  color: #B71C1C;
}
.question-count {
  margin: 40px 0;
  font-size: 24px;
}

@media all and (max-width: 700px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  #instructions-wrap ul {
    width: auto;
  }

}

